@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

body {
  font-family: "Google Sans Code", monospace;
  background-image: linear-gradient(rgb(1, 65, 111), rgb(73, 183, 242));
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

main {
  padding-top: 1rem;
}

img {
  width: 20rem;
  border: solid white;
  margin: 0 auto;
}

.landscapeScreenshots {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
}

.portraitScreenshots {
  width: 12rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.questionsList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 70%;
}

.actionsList {
  display: flex;
  flex-direction: column;
}

a {
  font-family: Afacad Flux;
  font-size: larger;
}

h1 {
  font-family: Boldonse;
  text-transform: capitalize;
  font-size: x-large;
  text-align: center;
}
h2 {
  font-family: Afacad Flux;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}
h3 {
  font-family: Afacad Flux;
  font-size: larger;
  text-align: center;
  font-weight: bold;
}
nav {
  text-align: center;
  justify-content: center;
}

li {
  font-weight: bold;
  font-family: Afacad Flux;
  font-size: large;
}

p {
  font-weight: normal;
}

li > ol > li {
  font-weight: normal;
}

li > ol {
  padding: 1rem;
  max-width: unset;
}
