@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* hide the scrollbar as i want the user to interact via mousewheel */
  overflow: hidden;
  /* i am using Monsterrat as the geometric type face has a sleek design, it professional looking 
  while also basic, minimal and readable */
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  /* The main scrolling animation will run frame by frame within the background image */
  /* i made the animation in blender */
  /* this animation will create an immersive and unique experience to visitors, demonstrating
  new and groundbreaking approaches to web design within this web designer portfolio site */
  /* the animation zooms through a structure influenced by monument valley and MC Escher. This
  style has appeared throughout my recent work and is a suitable represenation of my current style */
  background-image: url("./assets/1.png");
  background-size: cover;
  background-position: center;
  /* ensure background doesnt scroll */
  background-attachment: fixed;
}

h1 {
  color: white;
  font-size: 5rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0px;
}

h2 {
  color: white;
  font-weight: normal;
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

header {
  /* using flex to arrange the h1 and h2 with one another */
  opacity: 0;
  /* transition makes the text fade in and out */
  transition: opacity 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  /* using translate necessary for perfect center aligh */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main {
  /* using flex to arrange the paragraph and links with one another */
  opacity: 0;
  /* transition makes the text fade in and out */
  transition: opacity 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

a {
  color: white;
}
